body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f0f2f5;
}

.container {
    text-align: center;
}

#balls-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 30px 0;
}

.ball {
    width: 60px;
    height: 60px;
    background-color: #4caf50;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: #c0bd0e;
    color: white;
    border: none;
    border-radius: 8px;
}